
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

/* reset css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
:root{
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
/* global classes */

/* header styling */
main{
    max-width: 650px;
    margin: 60px auto;
    text-align: center;
    padding: 20px;
}
header{
   margin: 60px 0 100px;
}

h1{
    font-size: 2.5em;
    margin: 30px 0 15px;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}
h1 span{
    color: var(--VeryDarkBlue);
    font-weight: 700;
}
header p {
    color: var(--VeryDarkBlue);
}
form{
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-top: 50px;
}
.form-left{
    flex: 0.7;
}
input{
    width: 100%;
    padding: 20px 25px;
    border-radius: 50px;
    border: 1px solid hsl(224, 97%, 88%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px ;
    margin-bottom: 15px;
}
input.error{
    border-color: var(--LightRed);
}
input.error::placeholder{
    color: var(--LightRed);
}
input:hover, button:hover{
    cursor: pointer;
}
input::placeholder{
    color: hsl(224, 97%, 88%);
}
button{ 
    border-radius: 50px;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px ;
    background-color: var(--Blue);
    color: #ffffff;
    cursor: pointer;
    padding: 20px 0;
    font-weight: 600;
    margin-left: 20px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88% );
    flex: 0.3;
}
button:hover{
    opacity: 0.8;
}
.illustration{
    max-width: 100%;
}
form small{
    color: var(--LightRed);
    display: none;
    font-style: italic;
    z-index: 100;
    margin: 0 20px 40px;
}

/* footer styling */
footer{
    margin: 100px 0 50px;
}
.socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
     margin-bottom: 50px;
}
.socialMedia li{
    margin: 10px;
}
.socialMedia li  a{
    border: 1px solid hsl(0, 7%, 89%);
    color: var(--Blue);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
}
.socialMedia li a:hover{
    background-color: var(--Blue);
    border-color: var(--Blue);
    color: #fff;
}
footer p{
    color: hsl(0, 0%, 59%);
}
@media screen and (max-width: 650px){
    form{
        flex-direction: column;
        text-align: center;
    }
    
    .form-left{
        flex: 1;
        width: 100%;
    }
    button{
        width: 100%;
        flex: 1;
        margin-left: 0;
    }
}